<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cmy_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,238}}</string>
                <key>sourceSize</key>
                <string>{277,238}</string>
            </dict>
            <key>cmy_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{210,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,50}}</string>
                <key>sourceSize</key>
                <string>{210,50}</string>
            </dict>
            <key>cmy_hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,190},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>cmy_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{274,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,4}}</string>
                <key>sourceSize</key>
                <string>{274,4}</string>
            </dict>
            <key>cmy_mf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,148},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>cmy_mf_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,68},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>cmy_mf_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,46},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>cmy_mf_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,24},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>cmy_mf_caisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,90},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>cmy_my1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,124},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>cmy_my1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,181},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>cmy_my1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,207},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>cmy_my1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,214},{22,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>cmy_my1_caisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>cmy_my2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,108},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>cmy_my2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,181},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>cmy_my2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,155},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>cmy_my2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,207},{22,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>cmy_my2_caisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,132},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>cmy_share_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{120,55}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{120,55}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>cmy_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{205,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,50}}</string>
                <key>sourceSize</key>
                <string>{205,50}</string>
            </dict>
            <key>cmy_zl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,166},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>cmy_zl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,124},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>cmy_zl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,214},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>cmy_zl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,214},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>cmy_zl_caisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,209},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{464,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:382bf631a5955b6b4c60c8109c2c73c5:341a0612e57617c384f640d64e226945:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
